
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.our-services-container{
    margin-bottom: 50px;
}

.row {
    margin-bottom: 50px;
}

.search-form{
    margin-top: 11px;
    position: relative;
}