// ======================================
// Color Map
// ======================================


$colors: (
    a: #67809f,
    b: #4183d7,
    c: #2ecc71,
    d: #d64541,
    e: #926fb1,
    f: #f62459,
    g: #ce4125
);
