/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
    
}
input {
    margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin: 0 0 1em 0;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin: 0 0 .8em 0;
}

.subheading{
    text-align: center;
    margin-bottom: 20px;
}
a {
	text-decoration: none;
}
img {
	max-width: 50%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
    background-color: #3acec2;
    a {
        color: #fff;
    }
}
.secondary-nav {
    margin-top: 5px;
    display: block;
    a {
        color: #3acec2;
    }
  }

.name a,
.nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.nav a {
	font-size: .95em;
	text-transform: uppercase;
}
.nav a:hover {
	color: #093a58;
}

.signup {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.checkbox {
    cursor: pointer;
    &:hover {
        background-color: #3a3a3a;
    }
}

/* ---- Layout Containers ---- */


.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: url("../img/background_img.jpg") center / cover no-repeat #3acec2;
    background-blend-mode: multiply;
	padding: 3.2em 0;
	margin-bottom: 48px;
}

.col {
	padding: 1em;
	background: #edf4f7;
	border-radius: .35em;
	margin: 0 .5em .8em;
}

.secondary-content {
    text-align:justify;
}

.signup {
    color: #fff;
	background: #3acec2;
    padding: 20px 50px;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

.item,
 .article {
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
 }

Page Elements ---- */

.name {
    font-size: 3em;
}
.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

.user_name,
.user_email {
    height: 50px;
    width: 300px;
    font-size: 1em;
    box-shadow: #3a3a3a;
}

.signup-button{
    color:  #3acec2;
	text-align: center;
	padding: .625em 1.25em;
	background: #fff;
	border-radius: .35em;
}
.button {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #3acec2;
	border-radius: .35em;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}
}