/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 1rem;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
}

input {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 0.95em;
  margin: 0 0 1em 0;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin: 0 0 0.8em 0;
}

.subheading {
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */
.main-header {
  width: 100%;
}

.upper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.name {
  display: flex;
  font-size: 1em;
  margin: auto;
  width: 100%;
  max-width: 392px;
}

.conatiner-button {
  display: flex;
  flex-direction: row;
}

.nav-btn {
  display: inline;
  width: 141px;
  height: 56px;
  border: 4px;
  font-size: 18px;
  text-align: center;
  margin-left: 15px;
}

.search-bar {
  border-radius: 5%;
  height: 56px;
  margin-left: 10px;
  border-color: #999aa2;
}

.search-btn {
  color: #fff;
  background-color: #999aa2;
  border-color: #999aa2;
  border-radius: 5%;
  height: 56px;
  width: 56px;
}

.hamburger {
  color: #fff;
  background-color: #333645;
  border-radius: 5%;
  width: 60px;
  font-size: 25px;
}

.button-1 {
  background-color: #4183d7;
  border-color: #4183d7;
  border-radius: 5%;
}
.button-1 a {
  color: #fff;
}

.button-2 {
  background-color: #999aa2;
  border-color: #999aa2;
  border-radius: 5%;
}
.button-2 a {
  color: #fff;
}

.secondary-nav {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  width: 100%;
  background-color: #333645;
}
.secondary-nav a {
  color: #fff;
}

.top-nav:hover {
  color: #fff;
}

.name a,
.nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.nav a {
  font-size: 1.125em;
  text-transform: uppercase;
}

.nav a:hover {
  color: #093a58;
}

.signup {
  margin-top: 20px;
}

.checkbox {
  cursor: pointer;
}
.checkbox:hover {
  background-color: #3a3a3a;
}

/* ---- Our Services styling ---- */
.icon {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 30px;
  translate: 10px 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  align-items: center;
}

.item-1 i {
  background-color: #67809f;
  color: #fff;
}
.item-1 a {
  background-color: #67809f;
}

.item-2 i {
  font-size: 30px;
  translate: 10px 0;
  background-color: #4183d7;
  color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.item-2 a {
  background-color: #4183d7;
}

.item-3 i {
  font-size: 30px;
  translate: 10px 0;
  background-color: #2ecc71;
  color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.item-3 a {
  background-color: #2ecc71;
}

.item-4 i {
  font-size: 30px;
  translate: 10px 0;
  background-color: #d64541;
  color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.item-4 a {
  background-color: #d64541;
}

.item-5 i {
  font-size: 30px;
  translate: 10px 0;
  background-color: #926fb1;
  color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.item-5 a {
  background-color: #926fb1;
}

.item-6 i {
  font-size: 30px;
  translate: 10px 0;
  background-color: #f62459;
  color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.item-6 a {
  background-color: #f62459;
}

.item-7 i {
  font-size: 30px;
  translate: 10px 0;
  background-color: #ce4125;
  color: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.item-7 a {
  background-color: #ce4125;
}

/* ---- hover styling ---- */
.item-1:hover {
  background-color: #67809f;
  color: #fff;
}
.item-1:hover h2 {
  color: #fff;
}
.item-1:hover a {
  color: #67809f;
  background-color: #fff;
}
.item-1:hover i {
  color: #67809f;
  background-color: #fff;
}

.item-2:hover {
  background-color: #4183d7;
  color: #fff;
}
.item-2:hover h2 {
  color: #fff;
}
.item-2:hover a {
  color: #4183d7;
  background-color: #fff;
}
.item-2:hover i {
  color: #4183d7;
  background-color: #fff;
}

.item-3:hover {
  background-color: #2ecc71;
  color: #fff;
}
.item-3:hover h2 {
  color: #fff;
}
.item-3:hover a {
  color: #2ecc71;
  background-color: #fff;
}
.item-3:hover i {
  color: #2ecc71;
  background-color: #fff;
}

.item-4:hover {
  background-color: #d64541;
  color: #fff;
}
.item-4:hover h2 {
  color: #fff;
}
.item-4:hover a {
  color: #d64541;
  background-color: #fff;
}
.item-4:hover i {
  color: #d64541;
  background-color: #fff;
}

.item-5:hover {
  background-color: #926fb1;
  color: #fff;
}
.item-5:hover h2 {
  color: #fff;
}
.item-5:hover a {
  color: #926fb1;
  background-color: #fff;
}
.item-5:hover i {
  color: #926fb1;
  background-color: #fff;
}

.item-6:hover {
  background-color: #f62459;
  color: #fff;
}
.item-6:hover h2 {
  color: #fff;
}
.item-6:hover a {
  color: #f62459;
  background-color: #fff;
}
.item-6:hover i {
  color: #f62459;
  background-color: #fff;
}

.item-7:hover {
  background-color: #ce4125;
  color: #fff;
}
.item-7:hover h2 {
  color: #fff;
}
.item-7:hover a {
  color: #ce4125;
  background-color: #fff;
}
.item-7:hover i {
  color: #ce4125;
  background-color: #fff;
}

/* ---- Layout Containers ---- */
.main-header {
  padding-top: 0.5em;
  width: 100%;
}

.main-footer {
  text-align: center;
}

.banner {
  background: url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-oaVs.webp") center/cover no-repeat;
  padding: 3.2em 0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.banner-content {
  color: #fff;
  margin: 5em 10em;
}
.banner-content a {
  color: #fff;
}

.col {
  padding: 1em;
  background: #edf4f7;
  border-radius: 0.35em;
  margin: 0 0.5em 0.8em;
  border: 1px solid #999aa2;
}

.secondary-content {
  text-align: justify;
}

.signup {
  color: #666;
  background: #ddd;
  padding: 50px 50px;
}

.main-footer {
  background-color: #333645;
  color: #fff;
  padding: 47px 0 43px;
}
.main-footer a {
  color: #fff;
}

.item,
.article {
  padding: 15px;
  margin: 5px;
  border-radius: 3px;
}

.name {
  font-size: 2em;
}

.user_name,
.user_email {
  height: 50px;
  width: 300px;
  font-size: 1em;
  box-shadow: #3a3a3a;
}

.signup-button {
  color: #fff;
  text-align: center;
  padding: 0.625em 1.25em;
  background: #333645;
  border-radius: 0.35em;
}

.banner-button {
  width: 10em;
  text-align: center;
  padding: 0.625em 1.25em;
  background: #67809f;
  border-radius: 0.35em;
}

.button {
  color: #fff;
  text-align: center;
  padding: 0.625em 1.25em;
  border-radius: 0.35em;
}

.service,
.office {
  padding: 15px;
  justify-content: space-evenly;
}

.office {
  margin-top: 20px;
  margin-bottom: 15px;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  .row {
    width: 90%;
    margin: 0 auto;
  }
  .tagline {
    font-size: 1.4em;
  }
}
@media (min-width: 1025px) {
  .row {
    width: 80%;
    text-align: center;
  }
}/*# sourceMappingURL=application.css.map */