/* ================================= 
  Base Styles
==================================== */


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.upper,
	.nav,
	.row, 
    .col
    {
		display:flex;
	}

	.main-header {
		flex-direction: row;
		align-items: center;
	}

    .col {
		flex: 1 200px;
        flex-direction:column;
	}
    .button {
        margin-top: auto;
        align-self:flex-end;
  }
  
    .secondary-nav {
       display: none;
}

}

@media (max-width: 1024px) {
    .row{
        flex-wrap: wrap;
    }
    .main-header{
        justify-content: center;
    }
}


@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	    }
    .secondary-nav {
        display:flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: row;
    }
    .row {
        flex-direction:row;
        flex-wrap:wrap;
       
        
    }
    .secondary-content {
        display: flex;
        flex-direction: row;
    }
    .button {
        margin-top: auto;
    }
    .subheading-2 {
        text-align: left;
    }
    .sign-up-container{
        display: flex;
        justify-content:space-around;
    }

    .service {
        display:  inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}


